# Configuración de la base de datos PostgreSQL
POSTGRES_USER="<Usuario de la base de datos>"
POSTGRES_PASSWORD="<Contraseña de la base de datos>"
POSTGRES_DB="<Nombre de la base de datos>"
POSTGRES_HOST="<Host de la base de datos>"
POSTGRES_PORT="<Puerto de la base de datos>"

# Configuración de la API
PREFIX_API_VERSION="<Prefijo de la version de la API>"

# Configuración de zona horaria
TZ_INFO='<Zona horaria>'

# Configuración de JWT
JWT_SECRET="<Clave secreta>"
JWT_ALGORITHM="<algoritmo de encriptacion>"
ACCESS_TOKEN_EXPIRE_MINUTES="<Tiempo de expiracion del token>"

# Configuración de tokens de reseteo de contraseña
PASSWORD_RESET_TOKEN_EXPIRE_MINUTES= "<Tiempo de expiracion del token de reseteo de contraseña>"

# Configuración de correo electrónico
MAIL_USERNAME="<usuario de envio>"
MAIL_PASSWORD="<Contraseña de envio>"
MAIL_FROM="<Correo de envio>"
MAIL_PORT="<Puerto SMTP>"
MAIL_SERVER="<Servidor SMTP>"

# Configuración de roles y estados
ROL_ADMIN="<ID del rol de administrador>"
ROL_BIBLIOTECARIO="<ID del rol de bibliotecario>"
ESTADO_ACTIVO="<ID del estado activo>"
ESTADO_INACTIVO="<ID del estado inactivo>"
DOCUMENTO_MAYOR_EDAD_ID="<ID del documento de mayor edad>"
DOCUMENTO_MENOR_EDAD_ID="<ID del documento de menor edad>"
EDAD_MINIMA_USUARIO="<Edad mínima del usuario>"

# Configuración de Cloudflare R2
R2_ACCESS_KEY_ID="<Clave de acceso R2>"
R2_ACCOUNT_ID="<ID de cuenta R2>"
R2_BUCKET_NAME="<Nombre de bucket R2>"
R2_DOMINIO="<Dominio R2>"
R2_SECRET_ACCESS_KEY="<Clave secreta R2>"